extends signlayout

block mainbody
  #mainbody
    section#mainbodyitems
      h3 Hello World
      p This is the signUp page

      h3 Sign up

      if failed 
        h4 Error: #{msg}

      form(action="/auth/signUp" method="post")
        section
          label(for="username") Username
          input#username(name="username" type="text" autocomplete="username" required)
        section
          label(for="current-password") Password
          input#current-password(name="password" type="password" autocomplete="current-password" required)
        button(type="submit") Sign up
        a(href="/auth/signIn") Already have an account? Press me
